body
{
    padding: 0px;
    margin: 0px;
    font-family: 'Indie Flower', cursive;
    color: white;
}
.container
{
    height: 100vh;
    width: 100vw;
    background: url(./Bgsm.jpg) no-repeat;
    background-size: cover;
}
.content
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    animation: shift 7s infinite;
}
a
{
    text-decoration: none;
    color: #000;
}

@media screen and (orientation: landscape)
{
   .container
   {
       background: url("https://raw.githubusercontent.com/anymeshsingh/anymeshsingh.github.io/master/Bg.jpg") no-repeat;
       background-size: cover;
   }
}

@keyframes shift
{
    0%
    {
        background: linear-gradient(0deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    5%
    {
        background: linear-gradient(18deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    10%
    {
        background: linear-gradient(36deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    15%
    {
        background: linear-gradient(54deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    20%
    {
        background: linear-gradient(72deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    25%
    {
        background: linear-gradient(90deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    30%
    {
        background: linear-gradient(108deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    35%
    {
        background: linear-gradient(126deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    40%
    {
        background: linear-gradient(144deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    45%
    {
        background: linear-gradient(162deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    50%
    {
        background: linear-gradient(180deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    55%
    {
        background: linear-gradient(198deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    60%
    {
        background: linear-gradient(216deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    65%
    {
        background: linear-gradient(234deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    70%
    {
        background: linear-gradient(252deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    75%
    {
        background: linear-gradient(270deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    80%
    {
        background: linear-gradient(288deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    85%
    {
        background: linear-gradient(306deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    90%
    {
        background: linear-gradient(324deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    95%
    {
        background: linear-gradient(342deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
    100%
    {
        background: linear-gradient(360deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));
    }
}






